
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.main-button {
  width: 200px;
  height: 45px;
  background-color: #4985FF;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
}

.main-text {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.link {
  color: #4985FF;
}

.icon {
  background-position: 0 0;
  width: 32px;
  height: 32px;
}